table input{
  background-color: #F4C5F2;
}
table{
  background-color: grey;
  font-size: 14px;
  color: white;

}
.btnsubmit{
  background-color: #A5F4A5;
  font-size: 16px;
}
div input{
  color: green;
  font-size: 24px;
}
@keyframes animar{
  from{
    baclgorund-color: yellow;
    width: 50px;
  }
  to{
    background-color: black;
    width: 500px;
  }
}
input[type="submit"]{
//  animation-name: animar;
//  animation-duration: 10s;
//  animation-iteration-count: infinite;
}
